public net.minecraft.world.entity.npc.Villager increaseProfessionLevelOnUpdate
public net.minecraft.world.entity.npc.Villager increaseMerchantCareer()V
public net.minecraft.world.entity.npc.Villager updateTrades()V
public-f net.minecraft.world.entity.Entity random
public net.minecraft.world.entity.npc.VillagerTrades$EnchantBookForEmeralds
public net.minecraft.world.entity.monster.ZombieVillager startConverting(Ljava/util/UUID;I)V
public net.minecraft.world.entity.monster.ZombieVillager finishConversion(Lnet/minecraft/server/level/ServerLevel;)V
#public net.minecraft.client.gui.screens.inventory.MerchantScreen f_99118_ # tradeOfferButtons
